<div class="relative">
  
  <nav class="fixed w-full min-h-10 h-fit bg-[var(--main-color)] top-0 z-10 flex justify-between items-center p-4">

    <p class="text-white" *ngIf="!personnality">Calcul du nombre actif</p>

    <p class="text-[#FDF0E1] font-medium text-wrap w-full" *ngIf="personnality">Nombre actif {{personnality.number}} :
      <span class="text-[#FDF0E1] font-bold text-wrap w-full">
        {{personnality.title}}
      </span>
    </p>
  </nav>

  <main class="p-4 mt-18">
    <div class="fade-in" *ngIf="personnality">
      <h1 class="text-xl font-bold">Résultat</h1>
      {{personnality.description}}
    </div>
  </main>


  <div id="input-pad" class="fixed w-full bottom-0 z-10">

    <div class="max-w-xl mx-auto bg-[var(--main-color)] p-4 rounded-t-lg">
      <input type="text" name="" placeholder="Veuillez entrer votre prénom" [formControl]="nameInput" id="name" 
        class="border-none text-white focus-visible:outline-none active:border-none p-2 w-full">
    </div>

  </div>
    
</div>